.suggestion-container {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  margin-left: 25%;
  margin-right: 25%;
}

.suggestion-container h2 {
  color: #333;
}

.suggestion-container p {
  color: #666;
}

.suggestion-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.suggestion-container button:hover {
  background-color: #0056b3;
}
